<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bratva Family</title>
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles/generalStyles.css" />
    <link rel="stylesheet" href="/styles/dashboard.css" />
  </head>
  <body>
    <header>
      <%- include('../partials/admin_nav', { user: user }) %>

      <div class="page_detials container">
        <p>Bratva Family</p>
        <h2>Add New Announcement</h2>
      </div>
    </header>

    <!-- View customers --- see orders,  -->
    <!-- cusotmer usermane, customer total orders --= when clicked on it can see all orders in detail -->
    <!-- View Products -- delete product , update product -->
    <!-- product -->
    <!--  -->
    <!-- Main dashboard -->
    <main class="container dashboard-wrapper">
      <div class="box-bg addProductForm">
        <h4>
            Veuillez entrer les détails ci-dessous pour ajouter une nouvelle annonce
        </h4>

        <form id="addAnnouncementForm">
            <div class="box">
              <label for="description">Description</label>
              <input type="text" name="description" id="description" placeholder="Description" />
            </div>
          
          <div class="btn-wrapper">
            <button type="submit" class="btn btn-bg">
              <i class="ri-add-circle-line"></i> <span>Ajouter une annonce</span>
            </button>
          </div> 
          
        </form>
      </div>
      <!-- Show announcements -->
       <div class="show-announcements-container box-bg">
        <h2>Announcements</h2>
        <div class="announcements_boxes">
            <% for(let [index,announcement] of announcements.entries()){ %>
            <div class="announcement-box">
                <i class="ri-megaphone-line"></i>
                <!-- <p><%= index +1 %></p> -->
                <p><%= announcement.description %></p>
            </div>
            <%}%>
        </div>
       </div>
    </main>

    <script>
      const profile_card = document.querySelector(".profile_nav-card");
      const profile_card_sub = document.querySelector(".profile_card-sub");

      profile_card.addEventListener("click", (e) => {
        e.stopPropagation();
        profile_card_sub.classList.toggle("active");
      });

      document.addEventListener("click", (e) => {
        if (
          !profile_card.contains(e.target) &&
          !profile_card_sub.contains(e.target)
        ) {
          profile_card_sub.classList.remove("active");
        }
      });

      //   calling api to add new product
      document
        .getElementById("addAnnouncementForm")
        .addEventListener("submit", async (e) => {
          e.preventDefault();
          const URL = "/";

          try {
            const response = await fetch(`${URL}admin/api/addAnnouncement`, {
              method: "POST",
              headers: {
                "Content-Type": "application/json",
              },
              body: JSON.stringify({description: document.getElementById("description").value,}),
            });

            const data = await response.json();

            if (response.ok) {
              alert(data.message);
              document.getElementById("addAnnouncementForm").reset();
            } else {
              alert(data.message);
            }
location.reload()
            // Store JWT token in localStorage

            // Redirect to dashboard
            // window.location.href = "/dashboard";
          } catch (err) {
            errorMessage.textContent = "An error occurred. Please try again.";
          }
        });
    </script>
  </body>
</html>
