<footer>
  <div class="container">
    <div class="footer-top">
        <div class="footer-col">

            <a href="/" style="width: fit-content;">
                <img src="/img/bratva-logo-black.png" alt="" width="120" />
            </a>
        </div>

      <div class="footer-col">
        <h4>Bratva Autoshop</h4>
        <ul>
          <li><a href="#">Support client</a></li>
          <li><a href="#">Telegram</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>Liens rapides</h4>
        <ul>
          <li><a href="/login">Connexion</a></li>
          <li><a href="/register">Inscription</a></li>
          <li><a href="/about">A Propos De Nous</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>Soutien</h4>
        <ul>
          <li><a href="/politique-de-remboursement">Politique de Remboursement</a></li>
          <li><a href="/politique-de-confidentitalite">Politique De Confidentitalité</a></li>
        </ul>
      </div>
    </div>

    <p>Copyright © 2025 Bratva Family</p>
  </div>
</footer>


