<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles/generalStyles.css" />
    <link rel="stylesheet" href="/styles/style.css" />
  </head>
  <body>
    <main>
      <div class="container">
        <div class="login_left">
          <div class="logo">
            <img src="/img/bratva-logo-black.png" alt="" width="150" />
          </div>

          <div id="errorMessage">
            <p class="error"></p>
            <span><i class="ri-close-line"></i></span>
          </div>

          <form id="loginForm">
            <div class="box">
              <label for="username">Username</label>
              <input
                type="text"
                name="username"
                placeholder="username"
                id="username"
                value="<%= formData.username || '' %>"
              />
            </div>
            <div class="box">
              <label for="password">Password</label>
              <input
                type="password"
                name="password"
                placeholder="Password"
                id="password"
                value="<%= formData.password || '' %>"
              />
              <span class="togglePasswordSpan"
                ><i class="ri-eye-line togglePassword"></i
              ></span>
            </div>

            <button type="submit" class="btn btn-black">Connexion</button>

            <div class="form_bottom">
              <a href="/register" class="btn btn-outline">
                <i class="ri-user-add-line"></i>
                Créer un nouveau compte
              </a>
            </div>
          </form>

          <div class="bottom_info">
            <p>NOUVEAU TELEGRAM <a href="#">@Bratva</a></p>
          </div>
        </div>

        <div class="login_right">
          <img src="/img/hero-bg.svg" alt="" />
        </div>
      </div>
    </main>

    <script>
      const closeIcon = document.querySelector("#errorMessage i");

      closeIcon.addEventListener("click", function () {
        const errorMessage = document.getElementById("errorMessage");
        errorMessage.style.display = "none";
      });

      // Calling the post api
      document
        .getElementById("loginForm")
        .addEventListener("submit", async function (event) {
          event.preventDefault();

          const username = document.getElementById("username").value;
          const password = document.getElementById("password").value;
          const errorMessage = document.querySelector("#errorMessage p");
          const URL = "/api/auth/";

          try {
            const response = await fetch(`${URL}login`, {
              method: "POST",
              headers: {
                "Content-Type": "application/json",
              },
              body: JSON.stringify({ username, password }),
            });

            const data = await response.json();

            if (!data.success) {
              const error = (document.getElementById(
                "errorMessage"
              ).style.display = "flex");
              errorMessage.textContent = data.error;
              return;
            }

            // Store JWT token in localStorage
            localStorage.setItem("token", data.token);

            if (data.role === "admin") {
              // Redirect to admin dashboard
              window.location.href = "/admin/dashboard";
              return;
            }

            // Redirect to dashboard
            window.location.href = "/dashboard";
          } catch (err) {
            errorMessage.textContent = "An error occurred. Please try again.";
          }
        });
    </script>

    <script src="/js/base.js"></script>
  </body>
</html>
