<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bratva Family</title>
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles/generalStyles.css" />
    <link rel="stylesheet" href="/styles/dashboard.css" />
    <!-- chart js cdn -->
    <!-- <script
      src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.1/chart.min.js"
      integrity="sha512-L0Shl7nXXzIlBSUUPpxrokqq4ojqgZFQczTYlGjzONGTDAcLremjwaWv5A+EDLnxhQzY5xUZPWLOLqYRkY0Cbw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script> -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  </head>
  <body>
    <header>
      <%- include('partials/nav', { user: user }) %>

      <div class="page_detials container">
        <p>Bratva Family</p>
        <h2>Support</h2>
      </div>
    </header>

    <!-- Main dashboard -->
    <main class="dashboard-wrapper container ">
      <div class="support_container box-bg">
        <div class="support_head">
            <h2><span>Besoin d'aide ?</span> <br> Nous sommes là pour vous !</h2>
            <p>
                Nous nous engageons à vous fournir la meilleure assistance possible. Si vous avez des questions, si vous avez besoin d'aide pour votre achat ou si vous avez besoin d'aide pour toute autre chose, n'hésitez pas à nous contacter !
            </p>
          </div>
          <div class="support-links">
        <a href="#"><p class=" support_box">📱 Appelez-nous: 02 03 04 05 02</p></a>
          <a href="#"><p class=" support_box">💬 Envoyez-nous un message sur Signal</p></a>
          </div>
      </div>
    </main>

    <!-- footer -->
    <%- include('partials/footer') %>

    <!--End  footer -->

    <script src="/js/base.js"></script>
  </body>
</html>
